<h1>Lets DO THIS!</h1>

<p>These are THE rules!</p>
<p>Rock crushes scissors.</p>
<p>Scissors cut paper.</p>
<p>BUT paper covers rock!</p>
<p>Click the "Play" link above - then player 1 should replace ":player1" in the URL with their weapon of choice. Player 2 will replace ":player2" with thiers - hit "refresh" and see who's won!</p>
