<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ROCK! PAPER! OMG! SCISSORS!!! W000000T!!</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
<nav>
  <ul>
    <li><a href="/">Rules</a></li>
    <li><a href="/play/:player1/:player2">Play</a></li>
  </ul>
</nav>
<%= yield %>

  </body>
</html>
